<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TP1_Melina_Sofia.My.MySettings.CnTp1" connectionString="Data Source=LAPTOP-L71EI9QU\SQLEXPRESS;Initial Catalog=tp_p44;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>